<a href="https://colab.research.google.com/github/Anbon88/Master_AI/blob/main/AndreaBonetti_TareaEvaluable_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![idal-logo.png]()

<font color="#CA3532"><h1 align="left">mIA3</h1></font>
<font color="#6E6E6E"><h2 align="left">Tarea Evaluable. Python.</h2></font> 

#### Andrea Bonetti

**Ejercicio 1. (2 puntos)** La criba de Eratóstenes es un método ideado por Eratóstenes, para conseguir los números primos entre el 1 y un determinado número entero n. Este ejercicio permite poner en práctica muchas de las sentencias de control que hemos visto.


La criba de Eratostenes se puede programar como un algoritmo que consiste en formar  una tabla con todos los números naturales comprendidos entre 2 y n,  se van tachando los números que no son primos de la siguiente manera: 

* Comenzando por el 2 (considerado primo), se tachan todos sus múltiplos.
* Comenzando de nuevo, cuando se encuentra un número entero que no ha sido tachado, ese número es declarado primo, y se procede a tachar todos sus múltiplos.
* El proceso se repite iterativamente. El proceso termina cuando el cuadrado del siguiente número confirmado como primo es mayor que n.

Con todo esto, 

* Crea una función denominada `Eratostenes(n)`, que devuelva los número primos inferiores o iguales a n. 

* El tipo computacional de n es entero, modifica la función anterior `Eratostenes_Err` y crea un nueva función  para que si se introduce un valor real como argumento de la función, no devuelva error y  muestre un mensaje por pantalla informando al usuario de que el argumento sea entero.

In [ ]:
#Solución 1

def Eratostenes(n):
    
    numero = [i for i in range(2,n+1)] #Pongo todos los números en una lista que empieza por el 2
   
    for index,div in enumerate(numero):
        #El proceso termina cuando el siguiente número confirmado como primo es mayor que la raíz cuadrada de n
        if div>(n**(1/2)):   
            break    
        
        for value in numero[index+1:]: #Utilizo el índice index de cada elemento div, para que la búsqueda de múltiples empiece con el siguiente elemento index+1
            if value%div ==0:         #busco los múltiples de div y los elimino directamente de la lista
                numero.remove(value)               
        
        #print(div)
    return numero
    
    
Eratostenes(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [ ]:
#Solución 2

def Eratostenes_Err(n):
    
    try: 
        numero = [i for i in range(2,n+1)]
        for index,div in enumerate(numero):
            
            if div>(n**(1/2)):   
                break    
        
            for value in numero[index+1:]: 
                if value%div ==0:         
                    numero.remove(value) 
        return numero
        
    except:
        print('Por favor, introduzca un argumento entero')

#Eratostenes_Err(100) #Con argumento entero 
Eratostenes_Err(100.9)  #Con argumento real interviene el except

Por favor, introduzca un argumento entero

**Ejercicio 2. (1 punto)** Crea una array 8x3 con los enteros entre 10 y 34 de uno en uno. Después crea 4 nuevos arrays 2x3 partiendo el array original de dos en dos filas.

In [ ]:
#Solución

import numpy as np

arr_int = np.arange(10,34)       # Creo un array unidimensional
arr_8x3 = arr_int.reshape(8,3)   # Lo transformo en un array 8x3
print(arr_8x3)

#Puedo crear los arrays indexando directamente las filas
print(arr_8x3[[0,1]])
print(arr_8x3[[2,3]])
print(arr_8x3[[4,5]])
print(arr_8x3[[6,7]])

[[10 11 12]
 [13 14 15]
 [16 17 18]
 [19 20 21]
 [22 23 24]
 [25 26 27]
 [28 29 30]
 [31 32 33]]
[[10 11 12]
 [13 14 15]]
[[16 17 18]
 [19 20 21]]
[[22 23 24]
 [25 26 27]]
[[28 29 30]
 [31 32 33]]

**Ejercicio 3. (1 punto)** Crea el siguiente array de numpy:


[[34,43,73],[82,22,12],[53,94,66]]

Calcula:

* El máximo por filas
* El mínimo por columnas 
* La media por columnas
* La desviación típica por filas

In [ ]:
#Solución

#Creo el array
my_arr = np.array([[34,43,73],[82,22,12],[53,94,66]])
print(my_arr)

#El máximo por filas
print(my_arr.max(1))
    
#El mínimo por columnas
print(my_arr.min(0))
    
#La media por columnas
print(my_arr.mean(0))
    
#La desviación típica por filas
print(my_arr.std(1))

#He utilizado el índice del eje: 0 por columnas y 1 por filas.

[[34 43 73]
 [82 22 12]
 [53 94 66]]
[73 82 94]
[34 22 12]
[56.33333333 53.         50.33333333]
[16.673332   30.91206165 17.10750323]

**Ejercicio 4. (2 puntos)** Carga el dataset `Coches_dataset_jgx_I.csv` empleando la librería `pandas` y sus funciones de importación.

* Una vez cargado, visualiza las 5 primeras muestras del data frame.
* Averigua el número de muestras del data frame.
* Averigua el número de variables.
* Crea una diccionario cuyas claves contengan las posición de la columna y el valor los nombres de las variables del dataframe.

In [ ]:
#Solución 1

from pandas import Series,DataFrame
import pandas as pd

#Cargo el fichero
data = pd.read_csv('Coches_dataset_jgx_I.csv', sep=';')

#Visualizo las 5 primeras muestras del data frame
data.head(5)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450

In [ ]:
#Solución 2
len(data) #número de líneas del data frame

61

In [ ]:
#Solución 3
len(data.columns) #número de columnas del data frame

10

In [ ]:
#Solución 4
#Guardo en una lista las posiciones de las columnas obtenidas con get_loc
claves=[]
for val in list(data.columns):
    claves.append(data.columns.get_loc(val))    

#Los nombres de las columnas pueden ser obtenidos con .columns
valor=list(data.columns)

#Creo el diccionario 
dict(zip(claves,valor))

{0: 'index',
 1: 'company',
 2: 'body-style',
 3: 'wheel-base',
 4: 'length',
 5: 'engine-type',
 6: 'num-of-cylinders',
 7: 'horsepower',
 8: 'average-mileage',
 9: 'price'}

**Ejercicio 5. (2 puntos)** Limpieza de un dataframe.

* En el data frame existen datos ausentes codificados con símbolos `"?"` y `"n.a"`, reemplaza estos valores por `NaN`. Puedes tirar de sentencias de control, pero si eres hábil puedes utilizar una opción del  método `read_csv` para que en la carga del fichero se lleve a cabo lo que te pido. Almacena el resultado un data frame denominado `df_clean`.

* Elimina la columna `index` del dataframe.
* Elimina aquellas muestras que contengan algún NaN.
* Almacena el data frame `df_clean` en el fichero  `Coches_dataset_jgx_I_clean.csv`empleando como delimitador de datos `;` y sin almacenar el índice de la muestra.

In [ ]:
#Solución 1
df_clean = pd.read_csv('Coches_dataset_jgx_I.csv', sep=';', na_values=("?","n.a"))
df_clean

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,NaN,104.3,188.8,ohc,four,114,23,NaN
60,88,NaN,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [ ]:
#Solución 2 
del df_clean['index']
df_clean

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
56,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,volvo,NaN,104.3,188.8,ohc,four,114,23,NaN
60,NaN,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [ ]:
#Solución 3 
df_clean.dropna(inplace=True) #inplace=True para que se ejecute directamente el cambio
df_clean

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,honda,sedan,96.5,169.1,ohc,'n.a,100,25,10345.0
21,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
24,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
26,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
27,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
30,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
31,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
33,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
34,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
35,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
36,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
44,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
48,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
54,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
55,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0

In [ ]:
#Solución 4 
df_clean.to_csv('Coches_dataset_jgx_I_clean.csv', sep=';', index=False ) #index=False para no almacenar el index

**Ejercicio 6. (2 puntos)** Manipulando y extrayendo información del data frame.

* Carga el dataset `Coches_dataset_jgx_I_clean.csv` que has almacenado en el ejercicio anterior. 
* Programa un segmento de código que te permita conocer que marca tiene el coche más caro y su precio.
* Programa un segmento de código que te permita acceder a las muestras correspondientes a los coches `toyota`
* Averigua el número de coches de cada marca hay en el dataset.
* Averigua cual es el coche más caro de cada  marca, su estilo (`'body-style'`), la potencia (`'horsepower'`) y el precio ('price').
* Ordena las muestras del data frame por por precio (`'price'`) y potencia (`'horsepower'`)
* Calcula los principales estadísticos (mean, std, min, max, percetiles 25%, 50%, 75% y el número de muestras diferentes de NaN) de las variables numéricas del dataframe.

In [ ]:
#Solución 1
data2 = pd.read_csv('Coches_dataset_jgx_I_clean.csv', sep=';')
data2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
14,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,honda,sedan,96.5,169.1,ohc,'n.a,100,25,10345.0
21,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
23,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
24,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
25,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
26,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
27,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
28,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
29,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
30,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
31,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
32,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
33,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
34,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
35,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
36,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
37,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
38,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
39,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
40,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
41,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
42,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
43,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
44,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
45,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
46,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
47,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
48,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
49,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
50,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
51,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
52,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0

In [ ]:
#Solución 2 

#max(data2['price']) me permite encontrar el precio más alto

max_price=data2[data2['price']==max(data2['price'])] #Obtengo la muestra correspondiente
print(max_price['price']) #visualizo el precio
print(max_price['company']) #visualizo la marca

#De esta forma sé que el coche más caro es un mercedes-benz y su precio es de 45400

32    45400.0
Name: price, dtype: float64
32    mercedes-benz
Name: company, dtype: object

In [ ]:
#Solución 3
data2_toyota = data2[data2['company']=='toyota']
data2_toyota

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
43,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
44,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
45,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
46,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
47,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
48,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

In [ ]:
#Solución 4
marca_num=data2['company'].value_counts()
marca_num

toyota           6
bmw              6
mazda            5
mitsubishi       4
nissan           4
volkswagen       4
audi             4
honda            3
jaguar           3
chevrolet        3
alfa-romero      3
mercedes-benz    3
porsche          2
dodge            2
isuzu            1
Name: company, dtype: int64

In [ ]:
#Solución 5 
#Averigua cual es el coche más caro de cada marca, su estilo ('body-style'), la potencia ('horsepower') y el precio ('price').
marca=marca_num.index

resumen=DataFrame({})
for j in marca:
    data2_marca = data2[data2['company']==j] #creo un dataframe parcial según la marca
    
    coche_max=data2_marca[data2_marca['price']==max(data2_marca['price'])]  #selecciono el/los coche/s más caro/s
    
    coche_max_sel=DataFrame(coche_max, columns=['company', 'price', 'body-style', 'horsepower']) #creo un dataframe con las columnas indicadas en el ejercicio
    resumen=resumen.append(coche_max_sel) #voy añadiendo líneas al dataframe
    
resumen.sort_values(by='company',ignore_index=False) #Para mostrar el resultado ordenado, conservo los índices

          company    price   body-style  horsepower
1     alfa-romero  16500.0  convertible         111
2     alfa-romero  16500.0    hatchback         154
6            audi  18920.0        wagon         110
11            bmw  41315.0        sedan         182
15      chevrolet   6575.0        sedan          70
16          dodge   6377.0    hatchback          68
19          honda  12945.0        sedan         101
21          isuzu   6785.0        sedan          78
24         jaguar  36000.0        sedan         262
29          mazda  18344.0        sedan          72
32  mercedes-benz  45400.0      hardtop         184
36     mitsubishi   8189.0        sedan          88
40         nissan  13499.0        sedan         152
42        porsche  37028.0  convertible         207
48         toyota  15750.0        wagon         156
52     volkswagen   9995.0        sedan         100

In [ ]:
#Solución 6
#Ordena las muestras del data frame por precio ('price') y potencia ('horsepower')

#A través del parametro by paso la lista con los nombres de las columnas según el orden que quiero
data2.sort_values(by=['price','horsepower'])

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
13,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
25,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
43,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
33,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
26,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
34,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
17,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
14,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
44,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
16,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
45,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
15,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
38,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
21,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
27,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
39,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
46,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
35,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
37,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
18,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
49,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
47,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
50,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
51,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
36,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
52,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
20,honda,sedan,96.5,169.1,ohc,'n.a,100,25,10345.0
28,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
19,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
40,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
48,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
7,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
8,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
29,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
9,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
30,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
10,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
22,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
41,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
23,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
24,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
12,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
42,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
31,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
11,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
32,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0

In [ ]:
#Solución 7 
#Calcula los principales estadísticos (mean, std, min, max, percetiles 25%, 50%, 75% y el número de muestras diferentes de NaN) 
#de las variables numéricas del dataframe.

#Describe me devuelve un resumen estadístico básico de un dataframe por columnas
data2.describe()

       wheel-base      length  horsepower  average-mileage         price
count   53.000000   53.000000   53.000000        53.000000     53.000000
mean    98.324528  172.888679  106.962264        25.566038  15554.943396
std      6.821541   14.119090   50.500176         8.238067  11669.705287
min     88.400000  141.100000   48.000000        13.000000   5151.000000
25%     94.500000  159.100000   68.000000        19.000000   6785.000000
50%     96.300000  171.200000  100.000000        25.000000  10345.000000
75%    101.200000  176.800000  123.000000        31.000000  18344.000000
max    120.900000  208.100000  262.000000        47.000000  45400.000000