##Ejercicio 1. Probabilidad 


Esta tarea consiste en analizar el dataset 'credit.csv', que contiene un conjunto de datos sobre impagos en créditos bancarios. 
El dataset contiene una serie de variables numéricos, otras categóricas y la variable impago ('default').

Sobre este dataset tenéis que calcular:



*   Probabilidad de impago, P(default=2)
*   Probabilidad de impago condicionado a la variable 'housing' (considerad todos los valores de la variable)


*   Probabilidad de impago condicionado a las variables 'dependents'=2 y 'telephone'='none'
*   Probabilidad de impago condicionado a las variables 'dependents'=1, 'telephone'='yes' y 'personal_status'='female'



*   Además, debéis comprobar si las variables 'housing' y 'property' son independientes.


Debéis realizar la tarea en un Notebook de Jupyter, que debéis entregar ejecutado y sin errores en formato HTML.

In [ ]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [ ]:
#Cargo el dataset 'credit.csv'

Credit_df=pd.read_csv('credit.csv')

In [ ]:
#Muestro las primeras líneas para ver la estructura del fichero

Credit_df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,...,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,...,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,...,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,...,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,...,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,...,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

#### Probabilidad de impago, P(default=2)

In [ ]:
#En primer lugar cuento cuantos valores de impago tengo 
Def=Credit_df['default'].value_counts()
print(Def)

Def1=Def[1] 
Def2=Def[2]

1    700
2    300
Name: default, dtype: int64

In [ ]:
N=len(Credit_df)
N

1000

In [ ]:
#P(default=2)

P_default2=Def2/N
P_default2

#Obtengo una probabilidad de default del 30%

0.3

#### Probabilidad de impago condicionado a la variable 'housing' (considerad todos los valores de la variable)

Por la regla de la cadena:  
$P(default2|housing)=\frac{P(default2,housing)}{P(housing)}$

In [ ]:
House=Credit_df['housing'].value_counts()
House

own         713
rent        179
for free    108
Name: housing, dtype: int64

In [ ]:
#Tabla de contingencia: default por housing
Tab_def_hous = pd.crosstab(index=Credit_df['default'], columns=Credit_df['housing'])
Tab_def_hous

housing  for free  own  rent
default
1              64  527   109
2              44  186    70

In [ ]:
#Normalizo a probabilidades
Tab_def_hous_frec = Tab_def_hous / House
Tab_def_hous_frec

         for free      own      rent
default
1        0.592593  0.73913  0.608939
2        0.407407  0.26087  0.391061

In [ ]:
#La probabilidad de impago condicionado a la variable 'housing' (considerad todos los valores de la variable) es:
Tab_def_hous_frec.loc[2]

for free    0.407407
own         0.260870
rent        0.391061
Name: 2, dtype: float64

In [ ]:
#Si quiero ver la probabilidad en %
Tab_def_hous_frec.loc[2]*100

#P(default2|housing=for free)= 40.74%
#P(default2|housing=own)= 26.09%
#P(default2|housing=rent)= 39.11%

for free    40.740741
own         26.086957
rent        39.106145
Name: 2, dtype: float64

#### Probabilidad de impago condicionado a las variables 'dependents'=2 y 'telephone'='none'

Por la regla de la cadena:  
$P(default2|dependents=2,telephone=none)=\frac{P(default2,dependents=2,telephone=none)}{P(dependents=2,telephone=none)}$

In [ ]:
#Tabla de contingencia multi-index
Tab_def_dep_tel = pd.crosstab(index=[Credit_df['default']], columns=[Credit_df['dependents'],Credit_df['telephone']])
Tab_def_dep_tel

dependents    1         2
telephone  none  yes none yes
default
1           349  242   60  49
2           152  102   35  11

In [ ]:
#Normalizo a probabilidades
Tab_def_dep_tel_frec = Tab_def_dep_tel / Tab_def_dep_tel.sum()
Tab_def_dep_tel_frec

dependents         1                   2
telephone       none       yes      none       yes
default
1           0.696607  0.703488  0.631579  0.816667
2           0.303393  0.296512  0.368421  0.183333

In [ ]:
#P(default2|dependents=2,telephone=none)
Tab_def_dep_tel_frec.loc[2,(2, 'none')]

#Podemos considerar un valor de 36.84%

0.3684210526315789

#### Probabilidad de impago condicionado a las variables 'dependents'=1, 'telephone'='yes' y 'personal_status'='female'

In [ ]:
#Sigo la misma lógica que antes

#Tabla de contingencia multi-index
Tab_def_dep_tel_pers = pd.crosstab(index=[Credit_df['default']], columns=[Credit_df['dependents'],Credit_df['telephone'],Credit_df['personal_status']])
Tab_def_dep_tel_pers

dependents                  1                                                \
telephone                none                                           yes
personal_status divorced male female married male single male divorced male
default
1                          14    123           43         169            13
2                          12     69           15          56             8

dependents                                                  2         \
telephone                                                none
personal_status female married male single male divorced male female
default
1                   70           23         136             2      5
2                   34            9          51             0      5

dependents                                                                  \
telephone                                          yes
personal_status married male single male divorced male female married male
default
1                          0          53             1      3            1
2                          1          29             0      1            0

dependents
telephone
personal_status single male
default
1                        44
2                        10

In [ ]:
#Normalizo a probabilidades
Tab_def_dep_tel_pers = Tab_def_dep_tel_pers / Tab_def_dep_tel_pers.sum()
Tab_def_dep_tel_pers

dependents                  1                                     \
telephone                none
personal_status divorced male    female married male single male
default
1                    0.538462  0.640625     0.741379    0.751111
2                    0.461538  0.359375     0.258621    0.248889

dependents                                                        \
telephone                 yes
personal_status divorced male    female married male single male
default
1                    0.619048  0.673077      0.71875    0.727273
2                    0.380952  0.326923      0.28125    0.272727

dependents                  2                                                \
telephone                none                                           yes
personal_status divorced male female married male single male divorced male
default
1                         1.0    0.5          0.0    0.646341           1.0
2                         0.0    0.5          1.0    0.353659           0.0

dependents
telephone
personal_status female married male single male
default
1                 0.75          1.0    0.814815
2                 0.25          0.0    0.185185

In [ ]:
#P(default2|dependents=1, telephone=yes, personal_status=female)
Tab_def_dep_tel_pers.loc[2,(1, 'yes', 'female')]

#Podemos considerar un valor de 32.69%

0.3269230769230769

#### Compruebo si las variables 'housing' y 'property' son independientes.

Si lo son, debe cumplirse la igualdad $P(H,P)=P(H)*P(P)$  
Lo compruebo para housing=own y property=real estate

In [ ]:
House=Credit_df['housing'].value_counts()
print(House)

own         713
rent        179
for free    108
Name: housing, dtype: int64

In [ ]:
Prop=Credit_df['property'].value_counts()
print(Prop)

other                       332
real estate                 282
building society savings    232
unknown/none                154
Name: property, dtype: int64

In [ ]:
#P(H)
P_house = House['own']/N
P_house

0.713

In [ ]:
#P(P)
P_prop = Prop['real estate']/N
P_prop

0.282

In [ ]:
#P(H)*P(P)
P_house * P_prop

0.20106599999999997

In [ ]:
#P(H,P)

#Tabla de contingencia: housing por property
Tab_H_P = pd.crosstab(index=Credit_df['housing'], columns=Credit_df['property'])
Tab_H_P

property  building society savings  other  real estate  unknown/none
housing
for free                         2      1            1           104
own                            184    271          226            32
rent                            46     60           55            18

In [ ]:
Tab_H_P_frec = Tab_H_P/N
Tab_H_P_frec

property  building society savings  other  real estate  unknown/none
housing
for free                     0.002  0.001        0.001         0.104
own                          0.184  0.271        0.226         0.032
rent                         0.046  0.060        0.055         0.018

In [ ]:
#Estoy comprobando para housing=own y property=real estate
#P(H,P)
Tab_H_P_frec.loc['own', 'real estate']

0.226

**No** son independientes. 
Como es lógico imaginar, existe una dependencia entre el tipo de propriedad y el alojamiento.

Otra manera de comprobarlo es mirar si $P(H|P) = P(H)$

In [ ]:
#P(H|P)=P(H,P)/P(P)

P_HP = Tab_H_P_frec.loc['own', 'real estate']/P_prop
P_HP

0.8014184397163121

In [ ]:
#P(H)
P_house

0.713

In [ ]:
P_HP == P_house

False

In [ ]:
#Puedo reafirmar que NO son independientes